{% extends isNotAjax ? layout : "" %}   
{% block content %}
<div class="section">
    <h5><span class="card-title thin grey-text text-darken-4">Program settings</span></h5>
  </div>

<form class="col s12" id="settings_form" name ="settings_form" method="post" action="/settings/getsettings">
<input name="csrf_token" type="hidden"  value="{{ csrf_token }}"> 
<div class="row">
    <div class="input-field col s11">

        <label>Currency</label>    

        <select id = "currency_id" name="currency_id">
            {% for currency in currency_list %}
                {% if currency.id == currency_id %}
                    <option selected value="{{ currency.id }}" >{{ currency.short_name}} </option>
                {% else %}
                    <option value="{{ currency.id }}" >{{ currency.short_name}} </option>
                {% endif %}
            {% endfor%}
        </select>

    </div>
</div>

  <div class="input-field col s12">
    <select class="browser-default">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>

   
</form>
    
{% endblock %}