<div class="page-header">
    <h2>{{ form_header }}</h2>
</div>
<form class="form-horizontal" id="form_element" type="submit" submit="event.preventDefault(); saveElement();">
    <input type="text" class="form-control" name="id" id="id" style="display: none;" value={{ id }}>
    <div class="form-group code">
        <label for="recipient-name" class="control-label col-sm-1">Code</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="code" id="code" value={{ code }}>
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="control-label col-sm-1">Name:</label>
        <div class="col-sm-11">
            <input class="form-control" name = "name" id="name" value= {{ name }}>
        </div>
    </div>
    <div class="form-group">
        <label for="text" class="control-label col-sm-1">Short name:</label>
        <div class="col-sm-11">
            <input class="form-control" name="short_name" id="short_name" value={{ short_name }}>
        </div>
    </div>
    
    {% include 'form_buttons_footer.twig' %}  
    <div id="alertbox" class="alert alert-warning alert-dismissible" role="alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="error_list">
        
    </div>
    </div>
</form>
    
